.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10rem;

  &__title {
    font-family: "Cinzel Decorative";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    margin: 0 2rem 5rem 2rem;
    text-align: center;
  }
}

.pagosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;

  &__image {
    width: 28rem;
  }
}
