.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 10rem;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  max-width: 50rem;

  &__img {
    width: 100%;
    padding: 0rem 2rem 1rem 2rem;
  }

  &__text {
    font-family: "Cinzel Decorative";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 250;
    font-size: 32px;
    line-height: 38px;
    margin: 0 2rem 2rem 2.5rem;
  }
}

.textContainerUl {
  margin: 0 1rem;
  &__li {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 34px;
    list-style-position: outside;
    margin: 0 2rem;
  }
  &__li::marker {
    font-size: 1rem;
  }
}
