.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;

  position: fixed;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  background-color: #fff;

  &__logoAnchor {
    height: 6.8rem;
    display: flex;
    align-items: center;
  }

  &__logoImage {
    height: 100%;
  }
}

.navigation {
  justify-content: right;
  display: flex;
  flex-wrap: wrap;
}

.navigation__element {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 250;
  font-size: 25px;
  line-height: 38px;
  margin: 0 2rem;
  color: black;

  &:hover {
    transform: translateY(-0.5rem) scale(1.03);
  }
}

.navigationMobileContainer {
  display: flex;
  align-items: center;
  gap: 20px;

  &__book {
    background-color: #edeae5;
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 20px;

    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 38px;

    cursor: pointer;

    &:hover {
      transform: translateY(-0.5rem) scale(1.03);
    }
  }
}

.navigationMobile {
  position: relative;
  display: none;
  &__burgerIcon {
    display: none;
    font-size: 4rem;
  }

  &__burgerMenu {
    position: absolute;

    //right: -2rem;
    right: -1.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;

    &__element {
      font-family: "Alegreya Sans";
      font-style: normal;
      font-weight: 250;
      font-size: 32px;
      line-height: 5rem;
      margin: 0 2rem;
      color: black;
    }
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container__logoImage {
    height: 80%;
  }

  .navigation__element {
    display: none;
  }

  .navigationMobile__burgerIcon {
    display: initial;
  }

  .navigationMobile {
    display: initial;
  }
}
