.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 1.5rem;
  margin-right: 1.5rem;

  background-color: #fff;

  &__logoAnchor {
    height: 6.8rem;
    display: flex;
    align-items: center;
  }

  &__logoImage {
    height: 100%;
  }
}

.navigation__element {
  margin: 0 1rem;
  font-size: 2rem;
  color: black;
}

@media screen and (max-width: 992px) {
  .container__logoImage {
    height: 80%;
  }
}
