.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;

  &__feature {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0.5rem 1rem;
  }
}

.imageContainer {
  position: relative;
  max-width: 52rem;
  &__image {
    width: 100%;
  }
}

.arrowContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  &__icon {
    font-size: 3rem;
  }
}
