.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  &__image {
    width: 52rem;
  }
}

.arrowContainer {
  position: relative;
  top: 25rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;

  &__icon {
    font-size: 3rem;
  }
}
