.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #222222;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(29, 29, 29, 0.2)
  );
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: none;
  z-index: 2;

  background-color: beige;
  margin: 8rem -5rem 8rem 5rem;
  width: 40rem;
  padding: 6rem;
  text-align: center;

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    line-height: 2.4rem;
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 300;
    color: #222222;
    line-height: 2.5rem;
    margin: 2rem 0;
  }

  &__button {
    font-family: Nunito;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: #c8a05d;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 0.4rem;
  }
}

.imageContainer {
  width: 56rem;
  height: 84rem;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../Assets/Images/Description/descriptionBeachCozumel.jpg);
}

@media screen and (max-width: 800px) {
  .textContainer {
    margin: 0;
    width: 100%;
  }
  .imageContainer {
    display: none;
  }
}
